@import "fonts";

html,
body,
#root,
.timer-app {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
  color: #fff;
  overflow: hidden;
}

@function bgTransition($property) {
  @return 1s ease $property;
}

@mixin no-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.timer-app {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 1;

  --bg: #ee5b5d;
  background: var(--bg);
  background: linear-gradient(124deg, #ec335c 0%, #ee645d 53%, #ec8a4d 100%);

  transition: bgTransition(background), 1s ease font-size;

  // https://keithjgrant.com/posts/2017/07/transitioning-gradients/
  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: linear-gradient(153deg, rgba(43, 212, 247, 1) 0%, rgba(11, 56, 215, 1) 100%);

    z-index: -1;
    opacity: 0;

    transition: bgTransition(opacity);
  }

  &.break {
    --bg: #1e94ea;

    &::before {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 400px) {
  .timer-app {
    font-size: 4vw;
  }
}

.timer-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1em;
}

.timer-controls {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.timer-display {
  font-size: 6em;
}

.timer-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  $btn-size: 4em;
  width: $btn-size;
  height: $btn-size;
  border-radius: $btn-size * 0.5;

  @include no-select();

  background-color: #fff;
  color: var(--bg);

  transition: 0.1s ease all, bgTransition(color);

  // no hover on mobile
  @media (hover: hover) {
    &:hover {
      background-color: #eee;
      transform: scale(1.1);
    }
  }

  &:active {
    transform: scale(1.05);
  }
}

.type-controls {
  display: flex;
  flex-direction: row;
  gap: 0.25em;

  padding: 0.25em;
  border-radius: 0.5em;

  background-color: #ffffff80;

  &.inactive * {
    opacity: 0.5;
  }
}

.type-btn {
  padding: 0.5em;
  border-radius: 0.5em;

  @include no-select();

  color: var(--bg);
  background-color: #00000000;

  transition: bgTransition(color), 1s ease background-color, 1s ease opacity;

  &.active {
    background-color: #fff;
  }
}
